.colon-at-end::after {
    content: ":";
    margin-left: 1px;
}

.v-select {
    width: 100% !important;
}

.border-transparent {
    border-color: transparent !important;
}

.menu-link.no-hover:hover {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    cursor: default;
}

.no-resize {
    resize: none !important;
}

/* .vs__dropdown-toggle {
    height: 38.9px !important;
} */
