.colon-at-end::after {
    content: ":";
    margin-left: 1px;
}

.border-transparent {
    border-color: transparent !important;
}

.menu-link.no-hover:hover {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    cursor: default;
}

.no-resize {
    resize: none !important;
}

.min-w-150px {
    min-width: 150px !important;
}

/* VUE SELECT */
.v-select {
    width: 100% !important;
}

.vs__dropdown-toggle {
    height: auto;
    min-height: calc(1.4em + 1.1rem);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

